.dashboard {
    display: flex;
    flex-direction: column;
    padding: 20px;
    font-family: 'Arial', sans-serif;
    gap: 20px;
  }
  
  .top-section {
    display: flex;
    justify-content: space-between;
  }
  
  .left {
    flex: 2;
    margin-right: 20px;
  }
  
  .cards {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .card {
    flex: 1;
    padding: 20px;
    margin-right: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
  }
  .card h3{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 7px;
  }
  
  .card:last-child {
    margin-right: 0;
  }
  
  .card:hover {
    transform: translateY(-5px);
  }
  
  .bar-chart {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .recent-transactions {
    flex: 1;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .recent-transactions h2 {
    margin-bottom: 20px;
    color: #2c3e50;
  }
  
  .transactions-list {
    list-style: none;
    padding: 0;
  }
  
  
  .transaction {
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
  }
  .transaction span{
    flex: 1;
  }
  
  .transaction:hover {
    transform: translateY(-5px);
  }

  .dashboard {
    display: flex;
    flex-direction: column;
    padding: 20px;
    font-family: 'Arial', sans-serif;
  }
  
  .top-section {
    display: flex;
    justify-content: space-between;
  }
  
  .left {
    flex: 2;
    margin-right: 20px;
  }
  
  .cards {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .card {
    flex: 1;
    padding: 20px;
    margin-right: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    transition: transform 0.2s ease-in-out;
  }
  
  .card:last-child {
    margin-right: 0;
  }
  
  .card:hover {
    transform: translateY(-5px);
  }
  
  .card h3 {
    margin-bottom: 10px;
    color: #34495e;
  }
  
  .card p {
    font-size: 1.5rem;
    color: #27ae60;
    margin-bottom: 5px;
  }
  
  .card span {
    color: #95a5a6;
  }
  
  .bar-chart {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .recent-transactions {
    flex: 1;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .recent-transactions h2 {
    margin-bottom: 20px;
    color: #2c3e50;
  }
  
  .transactions-list {
    list-style: none;
    padding: 0;
  }
  
  .transaction {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
  }
  
  .transaction:hover {
    transform: translateY(-5px);
  }

  .bar-chart{
    height: 300px;
  }
  .bottom-section{
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .pie-chart{
    width: 30%;
    height: 100%;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  .line-chart{
    width: calc(70% - 20px);
    height: 100%;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }

  .income{
    background-color: #2bc062;
  }
  .card p{
    color:white;

  }
  .card span{
    color:white;
  }

  .expense{
    background-color: #ff3e51;
  }
  .balance{
    background-color: #3498db;
  }